[color]
	ui = always
[user]
	name = Mathieu Bruyen
	email = code@mais-h.eu
[push]
	default = simple
[alias]
        cat = cat-file -p
        logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
